.summary-card__container {
  padding: 1.5rem;
  min-width: 280px;
}

.summary-card__title {
  margin-bottom: 2rem;
  color: hsl(224, 30%, 27%);
  margin-left: 0.5rem;
}

.summary-card__button {
  background-color: hsl(224, 30%, 27%);
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  width: 100%;
  padding: 1rem 0.8rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.summary-card__button:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}
